@CHARSET "UTF-8";

body {
	font-family: Verdana, Arial, sans-serif;
}
/* Uncomment this to display all borders */
/*
div, span {
	border: 1px solid #000000;
}
*/
/* Header styles */
#header {
	/*
		Minimum width of the page when resizing - prevents "dancing" of sections
		when browser window is too small.
		Also present on other main parts of the page - main and footer
	*/ 
	min-width: 680px;
	/* height is dictated by logo image height */
	height: 105px;
	padding: 8px 16px;
	text-align: center;
}
#logo {
	/*
		float logo to the left; necessary as logo is SPAN element
		so it is not displayed on the block-level
	*/
	float: left;
	/* logo image dimensions */
	width: 149px;
	height: 105px;
	background: url("../images/logo.png") no-repeat scroll 0 0 transparent;
}
#title {
	height: 65px;
	font-size: 2em;
	font-weight: bold;
}
#date {
	/* date is on the right side of the header */
	float: right;
	height: 20px;
	font-size: 0.75em;
}
#userInfo {
	/* user info is on the right side of the header */
	float: right;
	/*
		do not allow floating elements on the right, so user info is positioned
		below date.
	*/
	clear: right;
	height: 53px;
	font-size: 0.75em;
}
#search {
}
/* Main container styles */
#main {
	/*
		Minimum width of the page when resizing - prevents "dancing" of sections
		when browser window is too small.
		Also present on other main parts of the page - main and footer
	*/ 
	min-width: 680px;
	/*
		Minimum content height, so footer is always
		towards the bottom of the page.
	*/
	min-height: 490px;
	padding: 8px 16px;
}
/* Navigation menu styles */
#leftMenu {
	/* float to the left, so content can be positioned to the right of menu */
	float: left;
	/* same width as logo image */
	width: 149px;
}
ul.leftMenu {
	/* override standard built in rules for UL margin and padding */
	margin: 0px;
	padding: 0px 16px;
}
ul.leftMenu li {
	/* no bullets */
	list-style-type: none;
}
ul.leftMenu li a.navigationLink,
ul.leftMenu li a.navigationLink:link,
ul.leftMenu li a.navigationLink:hover,
ul.leftMenu li a.navigationLink:active,
ul.leftMenu li a.navigationLink:visited {
	/*
		make navigation links block-level, so that hover and active effects
		can look better
	*/
	display: block;
	padding: 8px 4px;
	/* override standard anchor underline decoration */
	text-decoration: none;
	color: #000000;
	/* remove standard anchor outline */
	outline: none;
}
ul.leftMenu li a.navigationLink:hover {
	/* menu item hover background */
	background-color: #D9D9D9;
}
ul.leftMenu li a.navigationLink:active,
ul.leftMenu li a.navigationLink.active {
	/* menu item active background */
	background-color: #D3DFEE;
}
/* Content styles */
#content {
	/* float to the left of navigation menu */
	float: left;
	/* flexible width, content will resize with browser window */
	width: 70%;
	margin-left: 40px;
}
#freeSlotsTable {
	margin: 0px 32px;
	/* spread within content container */
	width: 100%;
}
#freeSlotsTable table {
	/* spread within content container */
	width: 100%;
	text-align: center;
}
/* Footer styles */
#footer {
	/*
		Minimum width of the page when resizing - prevents "dancing" of sections
		when browser window is too small.
		Also present on other main parts of the page - main and footer
	*/ 
	min-width: 680px;
	/* no floating elements allowed next to footer */
	clear: both;
	font-size: 12px;
	text-align: center;
}
/* Paragraph styles */
p.text {
	text-align: justify;
}
/* Table styles */
table {
	/* collapse borders for better display */
	border-spacing: 0px;
}
table * tr * {
	padding: 6px 0px;
}
table thead tr th {
	/* header cells are white, with top and bottom dark-blue borders */
	background-color: #FFFFFF;
	border-top: 2px solid #4F81BD;
	border-bottom: 2px solid #4F81BD;
}
table thead tr th.firstCol {
	/* first header cell has left white border */
	border-left: 2px solid #FFFFFF;
}
table thead tr th.lastCol {
	/* last header cell has left white border */
	border-right: 2px solid #FFFFFF;
}
table tbody tr.even td {
	/* even rows are colored light-blue */
	background-color: #D3DFEE;
	/* borders are the same as background color, so they seem invisible */
	border-top: 2px solid #D3DFEE;
	border-bottom: 2px solid #D3DFEE;
}
table tbody tr.even td.firstCol {
	/* first cell in even row has left light-blue border */
	border-left: 2px solid #D3DFEE;
}
table tbody tr.even td.lastCol {
	/* last cell in even row has right light-blue border */
	border-right: 2px solid #D3DFEE;
}
table tbody tr.odd td {
	/* even rows are colored white */
	background-color: #FFFFFF;
	/* borders are the same as background color, so they seem invisible */
	border-top: 2px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
}
table tbody tr.odd td.firstCol {
	/* first cell in odd row has left white border */
	border-left: 2px solid #FFFFFF;
}
table tbody tr.odd td.lastCol {
	/* last cell in odd row has right white border */
	border-right: 2px solid #FFFFFF;
}
table tbody tr.last td {
	/* cells in last row have bottom dark-blue border */
	border-bottom: 2px solid #4F81BD;
}
/* Util styles */
div.separator {
	/*
		make 32px separation between elements; useful when placed in container
		with floating elements and/or SPANs (SPANs are not block level elements,
		so margin does not affect them as expected
	*/
	width: 100%;
	height: 32px;	
}
